* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 576px;
    margin: auto;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

.logo {
    width: 50px;
    border: 2px solid #8f00ff;
    border-radius: 50%;
}

.btn {
    padding: 0;
    display: flex;
    align-items: center;
    background-color: inherit;
    border: none;
    --bs-btn-hover-bg: none;
}

.btn:hover #menu-icon {
    background-color: #8f00ff;
    color: white;
}

.btn:active #menu-icon {
    background-color: #8f00ff;
    color: white;
}

#menu-icon {
    font-size: 30px;
    color: #8f00ff;
}

.offcanvas {
    max-width: 70%;
}

.offcanvas-header {
    background-color: #8f00ff;
}

.about-me-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.about-me-div a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    border-bottom: 2px solid #8f00ff;
    transition: all 0.4s ease;
}

.about-me-div a:hover {
    color: #8f00ff;
}